{% extends 'dashboard/bundles-and-projects-base.html' %}
{% load static %}
{% load sastf_tags %}

{% block modals %}
<!-- Modal for creating new projects -->
<div class="modal modal-blur fade" id="modal-new-project" tabindex="-1"
    role="dialog" aria-hidden="true">
    {% comment %}
        The project dialog will consume a lot of screen space, so
        it should be placed in the center of it.
    {% endcomment %}
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                <span>
                    <!-- Icon: https://tabler-icons.io/i/notebook -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18"></path>
                        <path d="M13 8l2 0"></path>
                        <path d="M13 12l2 0"></path>
                     </svg>
                </span>New Project
            </h5>
            <!-- Simple workaround to close this modal -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="new-project-form" method="POST" action="."
                    enctype="multipart/form-data" >
            <div class="modal-body">

                {% csrf_token %}
                <input type="hidden" class="form-control" name="risk_level" value="None">
                <div class="mb-3">
                    <label class="form-label required">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Your project name Minimum five letters"
                            minlength="5" maxlength="256" required id="project-model-name">
                  </div>
                  <label class="form-label required">Report type</label>
                  <!-- Two options: 'simple' and 'advanced' -->
                  <div class="form-selectgroup-boxes row mb-3">
                    <div class="col-lg-6">
                      <label class="form-selectgroup-item">
                        <input type="radio" name="inspection_type" value="simple" class="form-selectgroup-input" checked>
                        <span class="form-selectgroup-label d-flex align-items-center p-3">
                          <span class="me-3">
                            <span class="form-selectgroup-check"></span>
                          </span>
                          <span class="form-selectgroup-label-content">
                            <span class="form-selectgroup-title strong mb-1">Simple</span>
                            <span class="d-block text-muted">Provide only basic data needed for the report</span>
                          </span>
                        </span>
                      </label>
                    </div>
                    <div class="col-lg-6">
                      <label class="form-selectgroup-item">
                        <input type="radio" name="inspection_type" value="advanced" class="form-selectgroup-input">
                        <span class="form-selectgroup-label d-flex align-items-center p-3">
                          <span class="me-3">
                            <span class="form-selectgroup-check"></span>
                          </span>
                          <span class="form-selectgroup-label-content">
                            <span class="form-selectgroup-title strong mb-1">Advanced</span>
                            <span class="d-block text-muted">Insert charts and additional advanced analyses in the final report</span>
                          </span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8">
                        <div class="mb-3">
                            <label class="form-label">Tags</label>
                            <div class="input-group input-group-flat">
                                <span class="input-group-text" id="project-modal-tags-area">
                                </span>
                                <input id="project-modal-tags-input" type="text" class="form-control" value=""
                                    name="tags">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="mb-3">
                        <label class="form-label required">Visibility</label>
                        <select class="form-select" name="visibility">
                            <option value="PRIVATE" selected>Private</option>
                            <option value="PUBLIC">Public</option>
                            <option value="INTERNAL">Internal</option>
                        </select>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <input type="submit" class="btn btn-primary" value="Create Project" id="project-submit"
                    data-bs-dismiss="modal">
            </div>
        </form>

      </div>
    </div>
</div>
{% endblock modals %}

{% block js_extended %}
{{ block.super }}

<script>

    // <!> DELETE PROJECT <!>
    deleteProject = function(element, event) {
        var selector = $(element).attr("project_id_element");
        $.ajax({
            type: 'DELETE',
            url: '/api/v1/project/' + $(selector).attr('value'),
            success: function(data) {
                location.reload();
            },
            headers: {
                'X-CSRFToken': csrftoken
            }
        });
        return true;
    };


    let area = document.getElementById("project-modal-tags-area");
    let input = document.getElementById("project-modal-tags-input");
    const modalTags = new Tags("project-tags", area, input);

    createProject = function() {
        tags = []
        console.log(modalTags);
        for (let step = 1; step <= modalTags.count; step++) {
            tags.push($(`#${modalTags.prefix}-${step}`).text());
        }

        var strTags = tags.join(",");
        $('#project-modal-tags-input').val(strTags);
    };


    document.addEventListener("DOMContentLoaded", function() {
        /**
         * Setup popover classes to dispose on the user's next click event
         */
        $('.popover-dismiss').popover({
            trigger: 'focus'
        });

        /**
         * Make the table a 'datatable' with search bar, configurable row count and
         * pagination. (jQuery-datatable)
         */
        $("#projects-table").DataTable();
        // add margin to table element
        $("#projects-table_wrapper").addClass("mt-1 mr-1 ml-1 mb-1")

        $('#new-project-form').on("submit", function(event) {
            createProject();
        });

        /**
         * Adding the 'deleteProject' handler when the document content has
         * been loaded successfully. Debug information will be printed on the
         * console if 'DEBUG_HTML' is enabled in Django's settings.
         *
         * This loop also adds links to the overview page of projects and
         * bundles
         */
        for (const index of Array({{ project_table_data|length }}).keys()) {
            // VIEW PROJECT
            linkActionElement = $("#project-view-action-" + (index+1));
            linkElement = $("#project-view-link-" + (index+1));
            selector = linkElement.attr('target-id');

            var project_id = $(selector).attr('value');
            var project_link = "/web/projects/" + project_id + "/overview";
            linkActionElement.attr('href', project_link);
            linkElement.attr('href', project_link);

            {% if debug %}
            console.debug(linkActionElement);
            console.debug("[DEBUG] Added ProjectOverviewLink: " + project_link);
            {% endif %}
        }
    });

</script>
{% endblock js_extended %}

{% block tab_content %}
<div class="tab-pane {% if active == "tabs-projects" %}active show{% endif %}" id="tabs-projects">
    {% if active == "tabs-projects" %}
    <!-- Row with vulnerability counters -->
    <div class="row row-deck">

        <div class="col-md-4">
            <!-- Card with project count -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Managed Projects</h3>
                </div>
                <div class="card-body">
                    <p class="text-muted"><b>{{ count }}</b></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Card with high risk count -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">High Risk Projects</h3>
                </div>
                <div class="card-body">
                    <!-- Small wrapper to display 'None' if zero is given as value -->
                    <p class="text-muted"><b>
                        {% if risk_high and risk_high > 0 %}
                        <span class="text-red">
                            {{risk_high}}
                        </span>
                        {% else %}
                        None
                        {% endif %}
                    </b></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Card with high risk count -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Medium Risk Projects</h3>
                </div>
                <div class="card-body">
                    <!-- Small wrapper to display 'None' if zero is given as value -->
                    <p class="text-muted"><b>
                        {% if risk_medium and risk_medium > 0 %}
                        <span class="text-orange">
                            {{risk_medium}}
                        </span>
                        {% else %}
                        None
                        {% endif %}
                    </b></p>
                </div>
            </div>
        </div>

        <div class="col mt-2">
            <!-- Card with vulnerability count -->
            <div class="card">
                <div class="card-body">
                    <p class="mb-3">Vulnerabilities per Severity: <strong> {% if vuln_count %}{{vuln_count}}{% else %}0{% endif %} </strong></p>
                    <div class="progress progress-separated mb-3">
                        {% if vuln_data %}
                            {% for category in vuln_data %}
                            <div class="progress-bar {{ category.color }}" role="progressbar" style="width: {{category.percent}}%" aria-label="{{category.name}}"></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row">
                        {% for category in vuln_data %}
                        <div class="col-auto d-flex align-items-center pe-2">
                            <span class="legend me-2 {{ category.color }}"></span>
                            <span>{{ category.name }}</span>
                            <span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">{{ category.count }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Row with main table data -->
    <div class="row mt-2">

        <div class="col">
            <!-- Body -->
            <div class="table-responsive">
                <table id="projects-table" class="table card-table text-nowrap datatable"
                    style="width:100%">
                    <thead>
                        {% for column in columns %}
                            {% if column in "HighMediumLowSecure"  %}
                            <th class="w-1">
                                <span class="{% if column == "Medium" %}text-orange{% elif column == "High" %}text-red{% elif column == "Secure" %}text-green{% else %}text-yellow{% endif %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-check-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M11.998 2l.118 .007l.059 .008l.061 .013l.111 .034a.993 .993 0 0 1 .217 .112l.104 .082l.255 .218a11 11 0 0 0 7.189 2.537l.342 -.01a1 1 0 0 1 1.005 .717a13 13 0 0 1 -9.208 16.25a1 1 0 0 1 -.502 0a13 13 0 0 1 -9.209 -16.25a1 1 0 0 1 1.005 -.717a11 11 0 0 0 7.531 -2.527l.263 -.225l.096 -.075a.993 .993 0 0 1 .217 -.112l.112 -.034a.97 .97 0 0 1 .119 -.021l.115 -.007zm3.71 7.293a1 1 0 0 0 -1.415 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </th>
                            {% else %}
                            <th>{{column}}</th>
                            {% endif %}
                        {% endfor %}

                        <!-- The 'Scan' action has no heading -->
                        <th></th>

                        <th class="w-1 text-end">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-cols">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-adjustments-horizontal" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                        <path d="M4 6l8 0"></path>
                                        <path d="M16 6l4 0"></path>
                                        <path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                        <path d="M4 12l2 0"></path>
                                        <path d="M10 12l10 0"></path>
                                        <path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                        <path d="M4 18l11 0"></path>
                                        <path d="M19 18l1 0"></path>
                                    </svg>
                                </span>
                            </a>
                        </th>
                    </thead>

                    <!-- Table body generation:

                        Each row contains a different value to be stored with a different display format. The
                        first and last three columns of each row will be the same for all.
                    -->
                    <tbody>
                        {% for row in project_table_data %}
                        <tr>
                            <td>
                               <!-- The project id can be queried using a jQuery selector
                                    that has the following structure:
                                        - "project-id-row-" <ROW_NUMBER>
                                -->
                                <input type="hidden" value="{{ row.project.project_uuid }}" id="project-id-row-{{ forloop.counter }}">
                                <a href="#" target-id="project-id-row-{{ forloop.counter }}"
                                    id="project-id-copy-{{ forloop.counter }}" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Copy Project-ID"
                                    onclick="copyTargetToClipboard(this);">

                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"></path>
                                        <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
                                    </svg>
                                </a>
                            </td>

                            <!-- Project Name -->
                            <td class="text-muted">
                                <a href="#" class="link-secondary" target-id="#project-id-row-{{ forloop.counter }}"
                                    id="project-view-link-{{ forloop.counter }}">
                                    {{ row.project.name }}
                                </a>
                            </td>

                            <!-- Owner -->
                            <td class="text-truncate">
                                <span class="badge bg-secondary-lt">
                                    {% if row.project.team %}
                                    {{ row.project.team.name }}
                                    {% else %}
                                        {% if row.project.owner == request.user %}
                                        You
                                        {% else %}
                                        {{ row.project.owner.username }}
                                        {% endif %}
                                    {% endif %}
                                </span>
                            </td>

                            <!-- Last scan origin -->
                            <td class="text-muted">
                                {% if row.scan.origin %}
                                {{ row.scan.origin }}
                                {% else %}
                                -
                                {% endif %}
                            </td>

                            <!-- Last scan time -->
                            <td class="text-muted">
                                {% if row.scan %}
                                    {% if row.scan.start_date %}
                                    {{row.scan.start_date}}
                                    {{ row.scan.start_date|date|timesince }}
                                    {% else %}
                                    Scheduled
                                    {% endif %}
                                {% else %}
                                -
                                {% endif %}
                            </td>

                            <!-- tags -->
                            <td class="text-truncate">
                                {# Split can be used when importing sastf_tags #}
                                {% with row.project.tags|split:"," as names %}

                                {% if names|length > 1 %}
                                <span class="badge bg-secondary-lt text-truncate">{{ names|first }}</span>,
                                <span class="badge bg-secondary-lt text-truncate">+{{ names|slice:"1:"|length }}</span>
                                {% elif names|length == 0 %}
                                -
                                {% else %}
                                <span class="badge bg-secondary-lt text-truncate">{{ names|first }}</span>
                                {% endif %}
                                {% endwith %}
                            </td>

                            <!-- Risk level -->
                            <td>
                                {% with row.project.risk_level|lower as level %}
                                <span class="badge bg-{% if level == 'critical' %}pink
                                    {% elif level == 'high'%}red{% elif level == 'medium' %}orange
                                    {% elif level == 'low' %}yellow{% else %}secondary{% endif %}-lt"
                                >
                                    {% if level %}
                                    {{ level|capfirst }}
                                    {% else %}
                                    Undefined
                                    {% endif %}
                                </span>
                                {% endwith %}
                            </td>

                            <!-- High -->
                            <td class="text-muted">
                                {{ row.high }}
                            </td>

                            <!-- Medium -->
                            <td class="text-muted">
                                {{ row.medium }}
                            </td>

                            <!-- High -->
                            <td class="text-muted">
                                {{ row.low }}
                            </td>

                            <td>
                                <a href="#" class="nav-link px-0 link-secondary" target-id="#project-id-row-{{ forloop.counter }}"
                                    id="project-view-action-{{ forloop.counter }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                                        <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                                    </svg>
                                </a>
                            </td>
                            <td class="text-end">
                                <span class="dropdown">
                                    <a href="#" class="nav-link px-0 link-secondary text-align-right"  tabindex="-1" data-bs-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                            <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                            <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end">
                                        <a class="dropdown-item" href="#" project_id_element="#project-id-row-{{ forloop.counter }}" id="delete-project-action-{{ forloop.counter }}"
                                            onclick="verifyAction(this, deleteProject);">
                                            <span class="dropdown-item-icon text-red">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M4 7l16 0"></path>
                                                    <path d="M10 11l0 6"></path>
                                                    <path d="M14 11l0 6"></path>
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                                    </svg>
                                            </span>
                                            Delete
                                        </a>
                                    </div>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    {% endif %}
</div>
{% endblock tab_content %}
