{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load sastf_tags %}



<!-- Title -->
{% block title %}
SASTF | Scans
{% endblock title %}

{% block css_extended %}
<link href="{% static 'libs/datatables/datatables.min.css' %}" rel="stylesheet"/>
{% endblock css_extended %}

{% block page_header %}
<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-pretitle">Overview</div>
                <h2 class="page-title">Scans (Aggregated)</h2>
            </div>
            <div class="col-auto ms-auto">
                <div class="btn-list">
                    <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-new-scan"
                    onclick="Steps.reset('new-scan');">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-radar-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                            <path d="M15.51 15.56a5 5 0 1 0 -3.51 1.44"></path>
                            <path d="M18.832 17.86a9 9 0 1 0 -6.832 3.14"></path>
                            <path d="M12 12v9"></path>
                        </svg>
                        Scan
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_header %}

{% block page_body %}
<div class="page-body">
    <div class="container-fluid">
        <div class="row row-deck">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="subheader">Aging Report</p>
                        <div class="container-fluid d-flex flex-column justify-content-center" id="no-scan-data">
                            <div class="empty">
                                <p class="empty-title">No Scan-data available</p>
                                <p class="empty-subtitle text-muted">
                                The current filter does not apply to any scans.
                                </p>
                            </div>
                        </div>
                        <div id="chart-aging-report"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <p class="subheader">Filter Settings</p>
                        <div class="row mb-1">
                            <div class="col d-flex align-items-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="show-private" value="private"
                                        {% if request.GET.private != "false" %}checked{%endif%}>
                                    <label class="form-check-label" for="show-private">Private</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="show-public" value="public"
                                    {% if request.GET.public != "false" %}checked{%endif%}>
                                    <label class="form-check-label" for="show-public">Public</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="show-internal" value="internal"
                                    {% if request.GET.internal != "false" %}checked{%endif%}>
                                    <label class="form-check-label" for="show-internal">Internal</label>
                                </div>
                            </div>
                            <div class="col-auto text-end">
                                <button class="btn btn-primary text-end" onclick="applyFilter();">Apply</button>
                            </div>
                        </div>
                    <div class="table-responsive">
                        <table class="table text-nowrap datatable" id="tbl-scans">
                            <thead>
                                <th class="w-1">ID</th>
                                <th>Project</th>
                                <th>Origin</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Start Date</th>
                                <th>Risk Level</th>
                                <th class="w-1">Findings (Aggregated)</th>
                                <th>Initiator</th>
                                <th class="w-1">
                                    <span class="text-red">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-check-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M11.998 2l.118 .007l.059 .008l.061 .013l.111 .034a.993 .993 0 0 1 .217 .112l.104 .082l.255 .218a11 11 0 0 0 7.189 2.537l.342 -.01a1 1 0 0 1 1.005 .717a13 13 0 0 1 -9.208 16.25a1 1 0 0 1 -.502 0a13 13 0 0 1 -9.209 -16.25a1 1 0 0 1 1.005 -.717a11 11 0 0 0 7.531 -2.527l.263 -.225l.096 -.075a.993 .993 0 0 1 .217 -.112l.112 -.034a.97 .97 0 0 1 .119 -.021l.115 -.007zm3.71 7.293a1 1 0 0 0 -1.415 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </th>
                                <th class="w-1">
                                    <span class="text-orange">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-check-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M11.998 2l.118 .007l.059 .008l.061 .013l.111 .034a.993 .993 0 0 1 .217 .112l.104 .082l.255 .218a11 11 0 0 0 7.189 2.537l.342 -.01a1 1 0 0 1 1.005 .717a13 13 0 0 1 -9.208 16.25a1 1 0 0 1 -.502 0a13 13 0 0 1 -9.209 -16.25a1 1 0 0 1 1.005 -.717a11 11 0 0 0 7.531 -2.527l.263 -.225l.096 -.075a.993 .993 0 0 1 .217 -.112l.112 -.034a.97 .97 0 0 1 .119 -.021l.115 -.007zm3.71 7.293a1 1 0 0 0 -1.415 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </th>
                                <th class="w-1">
                                    <span class="text-yellow">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-check-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M11.998 2l.118 .007l.059 .008l.061 .013l.111 .034a.993 .993 0 0 1 .217 .112l.104 .082l.255 .218a11 11 0 0 0 7.189 2.537l.342 -.01a1 1 0 0 1 1.005 .717a13 13 0 0 1 -9.208 16.25a1 1 0 0 1 -.502 0a13 13 0 0 1 -9.209 -16.25a1 1 0 0 1 1.005 -.717a11 11 0 0 0 7.531 -2.527l.263 -.225l.096 -.075a.993 .993 0 0 1 .217 -.112l.112 -.034a.97 .97 0 0 1 .119 -.021l.115 -.007zm3.71 7.293a1 1 0 0 0 -1.415 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </th>
                                <th class="w-1 text-end">Manage</th>
                            </thead>
                            <tbody>
                                {% for row in scan_table_data %}
                                <tr id="row-{{ row.scan.scan_uuid }}">
                                    <td>
                                        <input type="hidden" value="{{ row.scan.scan_uuid }}" id="scan-id-row-{{ forloop.counter }}">
                                        <a href="#" target-id="scan-id-row-{{ forloop.counter }}"
                                            id="scan-id-copy-{{ forloop.counter }}" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" title="Copy Scan-ID"
                                            onclick="copyTargetToClipboard(this);">

                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"></path><path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path></svg>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'Project-Overview' row.scan.project.project_uuid %}" class="link-secondary" target="_blank">
                                            {{ row.scan.project.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if row.scan.origin == "Play-Store" %}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google-play" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 3.71v16.58a.7 .7 0 0 0 1.05 .606l14.622 -8.42a.55 .55 0 0 0 0 -.953l-14.622 -8.419a.7 .7 0 0 0 -1.05 .607z"></path><path d="M15 9l-10.5 11.5"></path><path d="M4.5 3.5l10.5 11.5"></path></svg>
                                        {% elif row.scan.origin == "App-Store" %}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-appstore" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M8 16l1.106 -1.99m1.4 -2.522l2.494 -4.488"></path><path d="M7 14h5m2.9 0h2.1"></path><path d="M16 16l-2.51 -4.518m-1.487 -2.677l-1 -1.805"></path></svg>
                                        {% else %}
                                            {% if row.scan.origin %}
                                            {{ row.scan.origin }}
                                            {% else %}
                                            {{"Not defined"}}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ row.scan.scan_type }}</td>
                                    <td>
                                        <span class="badge {% if row.scan.status|lower == "active" %}bg-green-lt
                                            {% elif row.scan.status|lower == "scheduled" %}bg-azure-lt{% else %}
                                            bg-secondary-lt{% endif %}"
                                        >
                                            {{ row.scan.status }}
                                        </span>
                                    </td>
                                    <td>{{ row.scan.start_date }}</td>
                                    <td>
                                        <span class="badge {% if not row.scan.risk_level %}bg-secondary-lt \
                                            {% elif row.scan.risk_level|lower == "high" %}bg-red-lt \
                                            {% elif row.scan.risk_level|lower == "medium"%}bg-orange-lt\
                                            {% elif row.scan.risk_level|lower == "low" %}bg-yellow-lt
                                            {% else %}bg-secondary-lt{% endif %}">

                                            {% if row.scan.risk_level %}
                                            {{ row.scan.risk_level }}
                                            {% else %}
                                            Undefined
                                            {% endif %}
                                        </span>
                                    </td>

                                    <td>
                                        {{ row.findings }}
                                    </td>
                                    <td>
                                        {% if row.scan.initiator == request.user %}
                                        <span class="badge bg-azure-lt">You</span>
                                        {% else %}
                                        <span class="badge bg-secondary-lt">{{row.scan.initiator.username}}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ row.high_risks }}
                                    </td>
                                    <td>
                                        {{ row.medium_risks }}
                                    </td>
                                    <td>
                                        {{ row.low_risks }}
                                    </td>

                                    <td class="text-right">
                                        <span class="dropdown">
                                            <a href="#" class="nav-link px-0 link-secondary text-align-right"  tabindex="-1" data-bs-toggle="dropdown">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-arrow">
                                                <a class="dropdown-item" href="#" scan-id="{{ row.scan.scan_uuid }}" id="delete-scan-action-{{ forloop.counter }}"
                                                    onclick="verifyAction(this, deleteScan);" modal-title="Delete selected scan?"
                                                    modal-text="If you proceed, you will delete all data that is related to the selected scan, including all findings and vulnerabilities." >
                                                    <span class="dropdown-item-icon text-red">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7l16 0"></path><path d="M10 11l0 6"></path><path d="M14 11l0 6"></path><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path></svg>
                                                    </span>
                                                    Delete
                                                </a>

                                            </div>
                                        </span>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_body %}

{% block js_extended %}
<script src="{% static 'libs/datatables/datatables.min.js' %}"></script>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        $('#tbl-scans').DataTable();
        $('#table-modal-projects').DataTable();

        {% if scan_table_data|length > 0 %}
        $('#no-scan-data').remove();

        var root = document.documentElement;
        var style = getComputedStyle(root);
        var colors = [];

        if (Utils.isDarkLaf()) {
            colors.push(style.getPropertyValue('--tblr-secondary'));
        }

        var options = {
            series: [{
                name: "Findings",
                data: [
                {% for row in scan_table_data %}
                {% if row.findings > 0 %}
                [ {{ row.scan.start_date|timestamp }}, {{ row.findings }}],
                {% endif %}
                {% endfor %}
                ]
            }],
            chart: {
            id: 'area-datetime',
            type: 'area',
            height: 200,

          },
          dataLabels: {
            enabled: false
          },
          markers: {
            size: 0,
            style: 'hollow',
          },
          xaxis: {
            type: 'datetime',
            {% with scan_table_data|first as row %}
            min: {{ row.scan.start_date|timestamp }},
            {% endwith %}
            tickAmount: 6,
          },
          tooltip: {
            x: {
              format: 'dd MMM yyyy'
            }
          },
          fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                gradientToColors: colors,
                inverseColors: false,
                opacityFrom: 0.7,
                opacityTo: 0.9,
                stops: [0, 100]
            }
          },
          };
          var chart = new ApexCharts(document.querySelector("#chart-aging-report"), options);
          chart.render();
          {% endif %}
    });

    const deleteScan = function(element, event) {
        var scanId = element.getAttribute("scan-id");

        REST.delete(`/api/v1/scan/${scanId}/`, function(data) {
            if (data.success) {
                $('#tbl-scans').DataTable()
                    .row(`#row-${scanId}`)
                    .remove()
                    .draw();
            }
        });
    };

    function applyFilter() {
        let private = document.getElementById('show-private').checked;
        let public = document.getElementById('show-public').checked;
        let internal = document.getElementById('show-internal').checked;

        // Convert the given parameters to a query string
        const query = Object.entries({private: private, public: public, internal: internal})
            .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value)}`)
            .join('&');

        // Combine the current URL with the new query string
        const newUrl = `${window.location.origin}${window.location.pathname}?${query}`;

        // Reload the page with the new URL
        window.location.href = newUrl;
    };

    var form = document.getElementById("new-scan-form");
    form.addEventListener("submit", function(event) {
        $('#scan-submit').attr('disabled', "");
        document.getElementsByName("table-modal-projects_length")[0].disabled = true;

        var table = $('#table-modal-projects').DataTable();
        var projects = []

        table.rows().every(function(index) {
            var row = $(table.row(index).node());
            var projectId = row.attr('project-id');

            if (document.getElementById(`chbx-project-${projectId}`).checked) {
                projects.push(projectId);
            }
        });

        $('#scan-projects').val(projects.join(","));
    });

    onSourceSelectionChanged = function(element) {
        if (element.value == "URL") {
            $("#div-input-file").addClass("visually-hidden");
            $("#div-input-url").removeClass("visually-hidden");
        } else {
            $("#div-input-url").addClass("visually-hidden");
            $("#div-input-file").removeClass("visually-hidden");
        }
    };

</script>
{% endblock js_extended %}

{% block modals %}
<!-- Modal for creating new scans -->
<div class="modal modal-blur fade" id="modal-new-scan" tabindex="-1" role="dialog" aria-hidden="true">
    <!--
        The project dialog will consume a lot of screen space, so
        it should be placed in the center of it.
    -->
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                <span>
                    <!-- Icon: https://tabler-icons.io/i/target -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-target" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                        <path d="M12 12m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                     </svg>
                </span>New Scan
            </h5>
            <!-- Simple workaround to close this modal -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Scan Dialog:

        -->
        <form id="new-scan-form" method="POST" action="{% url 'Scans' %}" enctype="multipart/form-data" >
            <div class="modal-body">

                {% csrf_token %}
                <input type="hidden" name="projects" id="scan-projects" value="">

                <div class="row" id="new-scan-content-step-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 border-end m-1 bg-secondary-lt">
                                <div class="mt-2">
                                    <span class="h3">
                                        Assign Projects
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row row-cols-1">
                                    <div class="col">
                                        <h4 class="subheader">Select Available Projects
                                            <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                                                data-bs-content="<p>Select projects where you want to start a scan</p>">
                                                ?
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="col">
                                        <div class="table-responsive">
                                            <table class="table table-group-divider" id="table-modal-projects">
                                                <thead>
                                                    <th class="w-1">Select</th>
                                                    <th>Name</th>
                                                </thead>
                                                <tbody>
                                                    {% for project in available %}
                                                    <tr project-id="{{project.project_uuid}}">
                                                        <td><input type="checkbox" class="form-check-input m-0 align-middle"
                                                            aria-label="Select one" id="chbx-project-{{project.project_uuid}}"></td>
                                                        <td>
                                                            {{ project.name }}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="new-scan-content-step-1"  style="display: none;">
                    <label class="form-label required">
                        Scanners
                        <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                            data-bs-content="<p>Select the scanner you want to include in your scan. Configurations should be made
                                in the user plugin tab. It is recommended to include the basic scanner for a detailed
                                overview of components of each app.</p>">
                            ?
                        </span>
                    </label>

                    <div class="form-selectgroup-boxes mb-3 row">
                        {% for name, plugin in scanners.items %}
                        <div class="col-lg-auto">
                            <label class="form-selectgroup-item mt-2 ms-1 me-1">
                                <input type="checkbox" name="selected_scanners_{{ forloop.counter0 }}" value="{{ plugin.name }}" class="form-selectgroup-input">
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                <span class="me-3">
                                    <span class="form-selectgroup-check"></span>
                                </span>
                                <span class="form-selectgroup-label-content">
                                    <span class="form-selectgroup-title strong mb-1">{{ plugin.name }}
                                        {% if plugin.help %}
                                        <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                                            data-bs-content="{{ plugin.help }}">
                                            ?
                                        </span>
                                        {% endif %}
                                    </span>
                                    <span class="d-block text-muted">{{ plugin.title }}</span>
                                </span>
                                </span>
                            </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div id="new-scan-content-step-2" style="display: none;">
                    <div class="row">
                        <div class="col mb-1">
                            <label class="form-label required">Source</label>
                            <select class="form-select" name="source" onchange="onSourceSelectionChanged(this);">
                                <option value="URL" selected>URL</option>
                                <option value="File">File</option>
                            </select>
                        </div>
                        <div class="col-lg-5">
                            <div class="mb-3" id="div-input-url">
                                <label class="form-label">
                                    Store/File URL
                                    <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                                        data-bs-content="<p>Note that is is possible to place the target package name of an app and
                                            it will be downloaded automatically.</p>">
                                        ?
                                    </span>
                                </label>

                                <input type="text" class="form-control" value="" name="file_url" placeholder="https://...">
                            </div>
                            <div class="mb-3 visually-hidden" id="div-input-file">
                                <label class="form-label required">Upload File</label>
                                <input type="file" class="form-control" value="" name="file" id="uploaded-file" placeholder="Choose File">
                            </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="mb-3">
                            <label class="form-label required">Start Date</label>
                            <input class="form-control" placeholder="Select a date" id="datepicker-icon-prepend" value="{{ date_value|date:"d m Y" }}"
                                type="date" name="start_date"/>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-auto">
                        <div class="mb-3">
                            <label class="form-label required">App Type
                                <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                                        data-bs-content="<p>Make sure to select the right scan type as the selected scanners
                                            may use rules depending on the selected app type.</p>">
                                        ?
                                    </span>
                            </label>
                            <div class="form-selectgroup">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="scan_type" value="Android" class="form-selectgroup-input" checked>
                                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-android" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M4 10l0 6"></path>
                                        <path d="M20 10l0 6"></path>
                                        <path d="M7 9h10v8a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-8a5 5 0 0 1 10 0"></path>
                                        <path d="M8 3l1 2"></path>
                                        <path d="M16 3l-1 2"></path>
                                        <path d="M9 18l0 3"></path>
                                        <path d="M15 18l0 3"></path>
                                        </svg>
                                    Android
                                </span>
                            </label>
                            <label class="form-selectgroup-item">
                                <input type="radio" name="scan_type" value="iOS" class="form-selectgroup-input">
                                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-apple" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M9 7c-3 0 -4 3 -4 5.5c0 3 2 7.5 4 7.5c1.088 -.046 1.679 -.5 3 -.5c1.312 0 1.5 .5 3 .5s4 -3 4 -5c-.028 -.01 -2.472 -.403 -2.5 -3c-.019 -2.17 2.416 -2.954 2.5 -3c-1.023 -1.492 -2.951 -1.963 -3.5 -2c-1.433 -.111 -2.83 1 -3.5 1c-.68 0 -1.9 -1 -3 -1z"></path>
                                    <path d="M12 4a2 2 0 0 0 2 -2a2 2 0 0 0 -2 2"></path>
                                </svg>
                                iOS
                            </span>
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="display: none;" id="scan-start-progress">
                        <div class="form-hint mt-3">
                            Starting Scans... (page refreshes automatically)
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                style="width: 0%" id="pgbar-scan"></div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                    <div class="col">
                        <div class="steps mt-1 align-items-start">
                            <a href="#" class="step-item active" id="new-scan-step-0" step="0"
                                onclick="Steps.showStep(this, 'new-scan');">
                            Select Project(s)
                            </a>
                            <a  href="#" class="step-item disabled" id="new-scan-step-1" step="1"
                                onclick="Steps.showStep(this, 'new-scan');">
                            Select Scanners
                            </a>
                            <a href="#" class="step-item disabled" id="new-scan-step-2" step="2"
                                onclick="Steps.showStep(this, 'new-scan');" step-end="true">
                            Scan Configuration
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                            Cancel
                        </a>
                        <input type="submit" class="btn btn-primary"
                            id="scan-submit" value="Start Scan(s)" style="display: none;">
                        <a href="#" class="btn btn-primary" onclick="Steps.nextStep(this, 'new-scan');"
                            step-showonfinish="scan-submit" id="new-scan-next-step">Next</a>
                    </div>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock modals %}