{% extends 'base.html' %}
{% load static %}
{% load sastf_tags %}

<!-- Title -->
{% block title %}
SAST-F Project | {{ project.name }}
{% endblock title %}

{% block css_extended %}
<link href="{% static 'libs/datatables/datatables.min.css' %}" rel="stylesheet"/>
{% endblock css_extended %}

{% block page_header %}
<div class="page-header">
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="row align-items-center">
            <div class="col-auto">
              <span class="status-indicator
                {% if not project.risk_level %}status-secondary
                {% else %}
                {% with project.risk_level|lower as level %}
                    {% if level == "high" %}status-red
                    {% elif level == "medium"%}status-orange
                    {% elif level == "low" %}status-yellow
                    {% elif level == "secure" %}status-green
                    {% elif level == "critical" %}status-pink
                    {% elif level == "info" %}status-azure
                    {% else %}
                    status-secondary
                    {% endif %}
                {% endwith %}
                status-indicator-animated
                {% endif %}">
                  <span class="status-indicator-circle"></span>
                  <span class="status-indicator-circle"></span>
                  <span class="status-indicator-circle"></span>
                </span>
            </div>
            <div class="col">
              <h2 class="page-title">
                  {{ project.name }}
                </h2>
                <div class="text-muted">
                  <ul class="list-inline list-inline-dots mb-0" >
                      <li class="list-inline-item">
                          {% if project.team %}
                          Team-Project
                          {% else %}
                          Project
                          {% endif %}
                      </li>
                      <li class="list-inline-item">
                          {{ project.project_uuid }}
                      </li>
                      <li class="list-inline-item">
                          <span class="badge
                            {% with project.risk_level|lower as level %}
                                {% if level == "high" %}bg-red-lt
                                {% elif level == "medium"%}bg-orange-lt
                                {% elif level == "low" %}bg-yellow-lt
                                {% elif level == "critical" %}bg-pink-lt
                                {% elif level == "info" %}bg-azure-lt
                                {% else %}bg-secondary-lt{% endif %}
                            {% endwith %}">
                          {{ project.risk_level }}
                          </span>
                      </li>
                  </ul>
                </div>
            </div>
            <div class="col-auto ms-auto">
              <div class="btn-list">
                <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-new-scan"
                    onclick="Steps.reset('new-scan');">
                  <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-radar-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                      <path d="M15.51 15.56a5 5 0 1 0 -3.51 1.44"></path>
                      <path d="M18.832 17.86a9 9 0 1 0 -6.832 3.14"></path>
                      <path d="M12 12v9"></path>
                   </svg>
                  Scan
                </a>
              </div>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-bordered mt-3" data-bs-toggle="tabs">
                <li class="nav-item">
                    <a href="{% url 'Project-Overview' project_uuid=project.project_uuid %}" class="nav-link {% if active == "tabs-overview" %}active{% endif %}">
                        Overview
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Project-Scan-History' project_uuid=project.project_uuid %}" class="nav-link {% if active == "tabs-scan-history" %}active{% endif %}">
                        Scan History
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Project-Scanners' project_uuid=project.project_uuid  %}" class="nav-link {% if active == "tabs-scanners" %}active{% endif %}">
                        Scanners
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Project-Packages' project_uuid=project.project_uuid  %}" class="nav-link {% if active == "tabs-packages" %}active{% endif %}">
                        Packages
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Project-Export' project_uuid=project.project_uuid  %}" class="nav-link {% if active == "tabs-export" %}active{% endif %}">
                        Export
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Project-Settings' project_uuid=project.project_uuid  %}" class="nav-link {% if active == "tabs-settings" %}active{% endif %}">
                        Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
{% endblock page_header %}

{% block modals %}
<!-- Modal for creating new scans -->
<div class="modal modal-blur fade" id="modal-new-scan" tabindex="-1" role="dialog" aria-hidden="true">
    <!--
        The project dialog will consume a lot of screen space, so
        it should be placed in the center of it.
    -->
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                <span>
                    <!-- Icon: https://tabler-icons.io/i/target -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-target" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                        <path d="M12 12m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                     </svg>
                </span>New Scan
            </h5>
            <!-- Simple workaround to close this modal -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Scan Dialog:

        -->
        <form id="new-scan-form" method="POST" action="{% url 'Project-Scanners' project.project_uuid %}"
            enctype="multipart/form-data" >
            <div class="modal-body">

                {% csrf_token %}
                <input type="hidden" name="project" value="{{ project.project_uuid }}">

                <div class="row" id="new-scan-content-step-0">
                    <label class="form-label required">
                        Scanners
                        <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                            data-bs-content="<p>Select the scanner you want to include in your scan. Configurations should be made
                                in the user plugin tab. It is recommended to include the basic scanner for a detailed
                                overview of components of each app.</p>">
                            ?
                        </span>
                    </label>

                    <div class="form-selectgroup-boxes mb-3 row">
                        {% for name, plugin in scanners.items %}
                        <div class="col-lg-auto">
                            <label class="form-selectgroup-item mt-2 ms-1 me-1">
                                <input type="checkbox" name="selected_scanners_{{ forloop.counter0 }}" value="{{ plugin.internal_name }}" class="form-selectgroup-input">
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                <span class="me-3">
                                    <span class="form-selectgroup-check"></span>
                                </span>
                                <span class="form-selectgroup-label-content">
                                    <span class="form-selectgroup-title strong mb-1">{{ plugin.name }}
                                        {% if plugin.help %}
                                        <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                                            data-bs-content="{{ plugin.help }}">
                                            ?
                                        </span>
                                        {% endif %}
                                    </span>
                                    <span class="d-block text-muted">{{ plugin.title }}</span>
                                </span>
                                </span>
                            </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div id="new-scan-content-step-1" style="display: none;">
                    <div class="row">
                        <div class="col">
                            <label class="form-label required">Source</label>
                            <select class="form-select" name="source" onchange="onSourceSelectionChanged(this);">
                                <option value="URL" selected>URL</option>
                                <option value="File">File</option>
                            </select>
                        </div>
                        <div class="col-lg-5">
                            <div class="mb-3" id="div-input-url">
                                <label class="form-label">
                                    Store/File URL
                                    <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                                        data-bs-content="<p>Note that is is possible to place the target package name of an app and
                                            it will be downloaded automatically.</p>">
                                        ?
                                    </span>
                                </label>

                                <input type="text" class="form-control" value="" name="file_url" placeholder="https://...">
                            </div>
                            <div class="mb-3 visually-hidden" id="div-input-file">
                                <label class="form-label required">Upload File</label>
                                <input type="file" class="form-control" value="" name="file" id="uploaded-file" placeholder="Choose File">
                            </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="mb-3">
                            <label class="form-label required">Start Date</label>
                            <input class="form-control" placeholder="Select a date" id="datepicker-icon-prepend" value="{{ date_value|date:"d m Y" }}"
                                type="date" name="start_date"/>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-auto">
                        <div class="mb-3">
                            <label class="form-label required">App Type</label>
                            <div class="form-selectgroup">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="scan_type" value="Android" class="form-selectgroup-input" checked>
                                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-android" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M4 10l0 6"></path>
                                        <path d="M20 10l0 6"></path>
                                        <path d="M7 9h10v8a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-8a5 5 0 0 1 10 0"></path>
                                        <path d="M8 3l1 2"></path>
                                        <path d="M16 3l-1 2"></path>
                                        <path d="M9 18l0 3"></path>
                                        <path d="M15 18l0 3"></path>
                                        </svg>
                                    Android
                                </span>
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-hint mt-3">
                            Make sure to select the right scan type as the selected scanners
                            may use rules depending on the selected app type.
                        </div>
                    </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                    <div class="col">
                        <div class="steps mt-1 align-items-start">
                            <a  href="#" class="step-item active" id="new-scan-step-0" step="0"
                                onclick="Steps.showStep(this, 'new-scan');">
                            Select Scanners
                            </a>
                            <a href="#" class="step-item disabled" id="new-scan-step-1" step="1"
                                onclick="Steps.showStep(this, 'new-scan');" step-end="true">
                            Scan Configuration
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                            Cancel
                        </a>
                        <input type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                            id="scan-submit" value="Start scan" style="display: none;">
                        <a href="#" class="btn btn-primary" onclick="Steps.nextStep(this, 'new-scan');"
                            step-showonfinish="scan-submit" id="new-scan-next-step">Next</a>
                    </div>

            </div>
        </form>
      </div>
    </div>
</div>
{% endblock modals %}

{% block js_extended %}
<script src="{% static 'libs/datatables/datatables.min.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        /**
         * Setup popover classes to dispose on the user's next click event
         */
        $('.popover-dismiss').popover({
            trigger: 'focus'
        });

        /**
         * Make the table a 'datatable' with search bar, configurable row count and
         * pagination. (jQuery-datatable)
         */
        $("#scan-history-table").DataTable();

        // add margin to table element
        $("#scan-history-table_wrapper").addClass("mt-1 mr-1 ml-1 mb-1")
    });

    onSourceSelectionChanged = function(element) {
        if (element.value == "URL") {
            $("#div-input-file").addClass("visually-hidden");
            $("#div-input-url").removeClass("visually-hidden");
        } else {
            $("#div-input-url").addClass("visually-hidden");
            $("#div-input-file").removeClass("visually-hidden");
        }
    };
</script>
{% endblock js_extended %}

{% block page_body %}
<!-- Page body: -->
<div class="page-body">
    <div class="container-fluid">
        <div class="row-auto">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content">
                            {% block content %}
                            {% endblock content %}
                        </div>
                        {% block post_content %}
                        {% endblock post_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_body %}
