{% extends 'project/project-base.html' %}
{% load static %}
{% load sastf_tags %}

{% block content %}
<div class="tab-pane {% if active == "tabs-packages" %}active show{% endif %}" id="tabs-packages">
    {% if active == "tabs-packages" %}
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable" id="table-packages">
                    <thead>
                    <tr>
                        <th>View</th>
                        <th>Package</th>
                        <th>Version</th>
                        <th>Outdated</th>
                        <th>License</th>
                        <th>Risks</th>
                        <th>Relation</th>
                        <th>Dependency Type</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for dependency in dependencies %}
                        <tr>
                            {# The package name will be displayed when a package defined within the dependency #}
                            <td>
                                <a href="#offcanvas-package" class="link-secondary" data-bs-toggle="offcanvas"
                                    role="button" aria-controls="offcanvas-package" onclick="togglePackageInfo(this);"
                                    package-id="{{ dependency.dependency_uuid }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-scan-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M4 8v-2a2 2 0 0 1 2 -2h2"></path>
                                        <path d="M4 16v2a2 2 0 0 0 2 2h2"></path>
                                        <path d="M16 4h2a2 2 0 0 1 2 2v2"></path>
                                        <path d="M16 20h2a2 2 0 0 0 2 -2v-2"></path>
                                        <path d="M7 12c3.333 -4.667 6.667 -4.667 10 0"></path>
                                        <path d="M7 12c3.333 4.667 6.667 4.667 10 0"></path>
                                        <path d="M12 12h-.01"></path>
                                    </svg>
                                </a>
                            </td>
                            <td class="text-muted">
                                {# should be a link #}
                                {% if not dependency.package %}
                                &lt; Undefined &gt;
                                {% else %}
                                {{ dependency.package.name }}
                                {% endif %}
                            </td>

                            {# VERSION #}
                            <td class="text-muted">
                                {% if dependency.version %}
                                {{ dependency.version }}
                                {% else %}
                                &lt; Undefined &gt;
                                {% endif %}
                            </td>

                            {# OUTDATED #}
                            <td class="text-muted">
                                {% if not dependency.outdated %}
                                -
                                {% else %}
                                <span data-bs-toggle="tooltip" title="New Version: {{dependency.outdated}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-exclamation" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M20.986 12.502a9 9 0 1 0 -5.973 7.98"></path>
                                        <path d="M12 7v5l3 3"></path>
                                        <path d="M19 16v3"></path>
                                        <path d="M19 22v.01"></path>
                                    </svg>
                                </span>
                                {% endif %}
                            </td>

                            {# License #}
                            <td class="text-muted">
                                {% with dependency.license|split:"," as licenses %}
                                {% if licenses|length > 1 %}
                                <span class="badge bg-secondary-lt">{{ licenses|first }}</span>,
                                <span class="badge bg-secondary-lt">+{{ licenses|length }}</span>
                                {% elif licenses|length == 1%}
                                <span class="badge bg-secondary-lt">{{ licenses|first }}</span>
                                {% else %}
                                Undefined
                                {% endif %}
                                {% endwith %}
                            </td>

                            {# RISKS #}
                            <td class="text-muted">
                                <div class="progress progress-separated" style="height: 20px;">
                                    {% with dependency.vulnerabilities|vuln_stats as vuln_data %}
                                        {% for category in vuln_data.vuln_data %}
                                        <div class="progress-bar {{ category.color }}" role="progressbar" style="width: {{category.percent}}%" aria-label="{{category.name}}">
                                            {{ category.count }}
                                        </div>
                                        {% endfor %}
                                        {% if vuln_data.vuln_count == 0 %}
                                        <div class="progress-bar bg-secondary-lt" role="progressbar" style="width: 100%" aria-label="none">
                                            0
                                        </div>
                                        {% endif %}
                                    {% endwith %}

                                </div>
                            </td>

                            {# Relation #}
                            <td class="text-muted">
                                {{ dependency.relation|default_if_none:"-" }}
                            </td>

                            <td class="text-muted">
                                <span class="badge bg-secondary-lt">
                                    {{ dependency.package.type|default_if_none:"-" }}
                                </span>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    {% endif %}
</div>
{% endblock content %}

{% block js_extended %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        /**
         * Make the table a 'datatable' with search bar, configurable row count and
         * pagination. (jQuery-datatable)
         */
        $('#table-packages').DataTable();

        // add margin to table element
        $("#table-packages_wrapper").addClass("mt-1 me-1 ms-1 mb-1");

        $('#package-vulnerabilities').DataTable();
    });

    const createRow = function(rowData, pk, packageId) {
        var table = $('#package-vulnerabilities').DataTable();
        let step = table.rows().indexes().length + 1;
        let row = [
                `<a href="#" onclick="copyTargetToClipboard(this);" target-id="${pk}"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"></path><path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path></svg></a>`,
                `<a href="https://nvd.nist.gov/vuln/detail/${rowData.cve_id}" target="_blank" class="link-secondary">${rowData.cve_id}</a>`,
                `<span class="badge bg-secondary-lt">${rowData.severity}</span>`,
                `<a href="#" row-id="row-vuln-${step}" vuln-id="${pk}" onclick="verifyAction(this, deletePackageVulnerability)"><span class="text-red" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete vulnerability"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7l16 0"></path><path d="M10 11l0 6"></path>path d="M14 11l0 6"></path><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path></svg></span></a>`,
        ]

        table.row.add(row).draw();
        $(table.row(step-1).node()).attr('target-id', packageId);
        $(table.row(step-1).node()).attr('id', `row-vuln-${step}`);
    }

    const togglePackageInfo = function(element) {
        REST.doGet("/api/v1/dependency/" + element.getAttribute("package-id") + "/", function(data) {
            var table = $('#package-vulnerabilities').DataTable();

            table.rows().remove().draw();
            $('#dep-outdated').val(data.outdated);
            if (data.outdated.length == 0) {
                document.getElementById("dep-outdated").setAttribute("disabled", "");
            } else {
                document.getElementById("dep-outdated").removeAttribute("disabled");
            }

            $('#package-group').text(`${data.package.group_id}::${data.package.artifact_id}`);
            $('#package-name').val(data.package.name);
            $('#package-type').text(data.package.type);
            $('#dep-version').val(data.version);
            $('#package-id').val(data.package.package_uuid);
            $('#btn-update-dep').attr("dep-id", data.dependency_uuid);

            REST.doGet(`/api/v1/package/${data.package.package_uuid}/vulnerabilities?version=${data.version}`, function(data) {
                for (let step = 1; step <= data.results.length; step++) {
                    var vuln = data.results[step-1];
                    createRow(vuln, vuln.identifier, vuln.package.package_uuid);
                }
                table.draw();
            })
        });
    };

    const deletePackageVulnerability = function(element, event) {
        var vulnId = element.getAttribute("vuln-id");
        var rowId = element.getAttribute("row-id");
        REST.delete(`/api/v1/package/vulnerability/${vulnId}`, function(data) {
            if (data.success) {
                $('#package-vulnerabilities').DataTable()
                    .row('#' + rowId)
                    .remove()
                    .draw();
            }
        })
    };

    const toggleOutdated = function(element) {
        var target = document.getElementById("dep-outdated")

        if (!element.selected) {
            target.removeAttribute("disabled");
        } else {
            target.setAttribute("disabled", "");
        }
    };

    const updateDependency = function(element) {
        var depId = element.getAttribute("dep-id");
        var table = $('#package-vulnerabilities').DataTable();

        let outdated = $('#dep-outdated').val().trim();
        var vulnerabilities = ["$set"];
        let version = $('#dep-version').val().trim();


        table.rows().every(function(index) {
            var row = $(table.row(index).node());
            vulnerabilities.push(row.attr('target-id'));
        });

        REST.patch(`/api/v1/dependency/${depId}/`, JSON.stringify({
            outdated: outdated,
            vulnerabilities: vulnerabilities,
            version: version
        }), function(data) {
            if (data.success) {
                location.reload();
            }
        });
    };

    const createPackageVulnerability = function(element) {
        var depId = element.getAttribute("dep-id");
        var depVersion = $('#dep-version').val();
        if (depVersion.trim().length == 0) {
            return;
        }

        var rowData = {
            cve_id: $("#vuln-cve-id").val().trim(),
            package: $('#package-id').val(),
            severity: $('#vuln-severity').val(),
            version: depVersion,
        };

        REST.post("/api/v1/package/vulnerability/create", JSON.stringify(rowData), function(data) {
            if (data.success) {
                createRow(rowData, data.pk, $('#package-id').val());
            }
        })
    };
</script>
{% endblock js_extended %}

{% block post_content %}
<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvas-package" data-bs-scroll="true" data-bs-backdrop="false"
    style="height: 350px;">
    <input type="hidden" value="" id="package-id">
    <div class="offcanvas-header">
        <span class="offcanvas-title">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">Package Details</li>
                <li class="list-inline-item">
                    <span class="badge bg-secondary-lt" id="package-type">
                        None
                    </span>
                </li>
            </ul>
        </span>
        <button id="btn-update-dep" type="button" class="btn btn-outline-primary ms-auto" dep-id="" onclick="updateDependency(this);">Update</button>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
        <div class="row">
            <div class="col-md-4 border-end">
                <div class="row">
                    <div class="col">
                        <label for="package-name" class="form-label">Package Name</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <kbd id="package-group">group::artifact</kbd>
                            </span>
                            <input class="form-control" type="text" value="Name" id="package-name" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="package-name" class="form-label">Package Version</label>
                        <input type="text" class="form-control" id="dep-version" value="">
                    </div>
                    <div class="col">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="dep-is-outdated" onclick="toggleOutdated(this);">
                            <label class="form-check-label" for="dep-is-outdated">Outdated</label>
                        </div>
                        <input type="text" class="form-control" value="" id="dep-outdated" disabled>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="table-responsive-md">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item">
                            <label class="form-label">Vulnerabilities</label>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-new-vuln">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-playlist-add" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19 8h-14"></path><path d="M5 12h9"></path><path d="M11 16h-6"></path><path d="M15 16h6"></path><path d="M18 13v6"></path></svg>
                            </a>
                        </li>
                    </ul>
                    <table class="table table-bordered" id="package-vulnerabilities">
                        <thead>
                            <th class="w-1">ID</th>
                            <th>CVE</th>
                            <th>Severity</th>
                            <th class="w-1">Manage</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        </div>
</div>
{% endblock post_content %}

{% block modals %}
{{ block.super }}

<div class="modal modal-blur fade" id="modal-new-vuln" tabindex="-1" role="dialog" aria-hidden="true">
    <!--
        The project dialog will consume a lot of screen space, so
        it should be placed in the center of it.
    -->
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Add Package Vulnerability
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label class="form-label">CVE-ID</label>
                        <input type="text" class="form-control" id="vuln-cve-id" placeholder="CVE-XXX">
                    </div>
                    <div class="col-auto">
                        <label class="form-label">Severity</label>
                        <select class="form-select" id="vuln-severity">
                            {% for severity in Severity %}
                            <option value="{{severity}}">{{severity}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="text-end">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Add"
                        onclick="createPackageVulnerability(this);">Add</button>
                </div>
            </div>
      </div>
    </div>
</div>
{% endblock modals %}